@charset "utf-8";
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 컨텐츠 영역 */
/* 글자 공통 속성 지정 */
main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section {
  width: 100%;
  height: auto;
  overflow: hidden;
}
h2 {
  font-weight: 900;
  font-size: 30px;
}
.main_visual {
  width: 100%;
  height: 800px;
}
.slide {
  width: 100%;
  height: 100%;
}
.main_visual_slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_visual_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.main_visual_text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 216px;
  top: 320px;
  z-index: 1;
}
.main_visual_text h2 {
  color: #273652;
  font-weight: 600;
  font-size: 50px;
}
.main_visual_text p {
  color: #939393;
  font-size: 28px;
  margin-top: 40px;
  line-height: 160%;
}
/* 섹션2 */
.best_book {
  width: 100%;
  position: relative;
  margin-top: 120px;
}
.sect2_innercon {
  width: 100%;
  height: 723px;
  background-image: url(./../img/main/sect2_background.png);
  padding: 70px 0 0 0;
  box-sizing: border-box;
}
.best_book img {
  cursor: pointer;
}
.book1,
.book2,
.book3 {
  width: fit-content;
  height: 504px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.book1 img,
.book2 img,
.book3 img {
  max-height: 100%;
}

.book1 {
  position: absolute;
  left: -100px;
}
.book_text_box1 {
  width: 884px;
  height: 504px;
  display: flex;
  position: absolute;
  left: 366px;
}
.book_text {
  width: fit-content;
  height: 504px;
  margin-left: 80px;
  margin-top: 3px;
}
.book_text h3 {
  font-weight: 900;
  font-size: 24px;
  color: #3a3737;
  margin-top: 123px;
}
.book_text h4 {
  margin-top: 123px;
  color: #fff;
  margin-bottom: 28px;
}
.book_text p {
  color: #fff;
  font-weight: 100;
}
/* 섹션 2 버튼 */
.sect2_icon {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 1394px;
}
.sect2_icon button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn1 {
  margin-left: 84px;
}
.book_text_box2 {
  width: 884px;
  height: 504px;
  display: flex;
  position: absolute;
  left: 1615px;
}
.book_text_box2 h3 {
  margin-top: 151px;
}
/* 섹션3 */
.new_book {
  width: 100%;
  height: 670px;
  /* 팝업창때문에 높이지정해서 높이 안늘어나도록*/
  overflow: hidden;
  margin-top: 200px;
}
.new_book img {
  cursor: pointer;
}
.new_book_txt {
  text-align: center;
  margin-bottom: 87px;
}
.sect3_innercon {
  width: 100%;
  display: flex;
  column-gap: 130px;
  position: relative;
}
.book_con {
  width: 294.53px;
}
.sect3_innercon .book_con:nth-child(4) {
  width: 327.94px;
}
.book4,
.book5,
.book6,
.book7,
.book8 {
  width: fit-content;
  height: 470px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.new_book img {
  max-height: 100%;
}
.newbook_text {
  width: 294.53px;
  height: fit-content;
  text-align: center;
  margin-top: 18px;
}
.newbook_text2 {
  width: 327.94px;
}
.newbook_text h4 {
  font-size: 20px;
  font-weight: 600;
}
.newbook_text p {
  color: #777;
}
/* 호버시 나오는 이미지  */
.hide_img {
  width: 294.53px;
  height: 470px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  /* 이미지 숨겨놓음 */
  opacity: 0;
}
/* 책 사이즈 달라서 개별 지정 */
.hide_img.hide_img2 {
  width: 327.94px;
}
.hide_img p {
  width: fit-content;
  height: fit-content;
  margin: 30px;
}
.hide_img .hover_icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 90px;
}
/* 책 사이즈 달라서 개별 지정 */
.hide_img.hide_img2 .hover_icons {
  width: 327.94px;
  left: 108px;
}
.hover_icons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* 호버하면 숨겨진 줄거리 나오기 */
.book_con:hover .hide_img {
  opacity: 1;
}

/* 섹션4 */
.sect4 {
  background-image: url(./../img/main/sect4_img.png);
  background-repeat: no-repeat;
  margin: 200px 0;
  width: 100%;
  height: 230px;
}
.sect4_text {
  margin: 0px auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 40px 0 0 0;
  font-size: 24px;
  color: #162f5d;
}
.sect4_text h4 {
  font-weight: 600;
  margin-top: 8px;
}
.sect4 a {
  display: block;
  width: fit-content;
  background-color: #7594cd;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 37px auto;
  transition: 0.3s;
}
.sect4 a:hover {
  background-color: #507bca;
}
/* 섹션5 */
.gift_book {
  width: 100%;
  height: 662px;
  overflow: hidden;
  background-color: #fbfaf5;
  box-sizing: border-box;
  padding: 156px 0;
}
.gift_book img {
  cursor: pointer;
}
.sect5_innercon {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift_text {
  width: 47%;
  height: 350px;
  position: relative;
}
.gift_inner_text_top {
  position: absolute;
  top: 0;
}
.gift_text .pick {
  font-family: "PyeongChangPeace-Bold";
  color: #6590df;
  font-size: 15px;
  margin-left: 5px;
  letter-spacing: 0.4px;
}
.gift_inner_text_top h2 {
  font-weight: 900;
  font-size: 30px;
}
.gift_inner_text_top h5 {
  font-size: 15px;
  color: #434343;
  margin-top: 1.5%;
}
.gift_inner_text_bottom {
  width: 361px;
  margin-top: 60px;
  font-size: 20px;
  color: #434343;
  position: absolute;
  bottom: 0;
}
.gift_inner_text_bottom span {
  font-weight: 600;
}
.gift_con_wrap {
  width: 62%;
  height: 350px;
  display: flex;
}
.gift_con {
  width: fit-content;
  height: 350px;
  display: flex;
  align-items: center;
}
.book9,
.book10 {
  width: fit-content;
  height: 350px;
  cursor: pointer;
}
.book9 > img,
.book10 > img {
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.gift_img_t {
  width: 216px;
  height: 100%;
  margin-left: 22px;
  position: relative;
}
.bottom_t {
  width: fit-content;
  position: absolute;
  bottom: 0;
}
.bottom_t h3 {
  font-size: 21px;
  font-weight: 600;
}
.bottom_t h4 {
  color: #8a8a8a;
  margin-bottom: 28px;
  font-size: 16px;
}
.bottom_t h5 {
  font-weight: 600;
  color: #6590df;
  margin-bottom: 2px;
}
.bottom_t p {
  font-size: 16px;
  line-height: 1.4;
  color: #8a8a8a;
}
/* 호버이미지 */
.hide_img.hide_img3 {
  width: 219.33px;
  height: 350px;
  border-radius: 20px;
}
.hide_img.hide_img3 .hover_icons {
  left: 55px;
}
/* 호버하면 숨겨진 줄거리 나오기 */
.book9:hover .hide_img {
  opacity: 1;
}
.book10:hover .hide_img {
  opacity: 1;
}
/* 팝업창2 따로 위치 지정*/
.heart_popup.heart_popup2 {
  top: -283px;
}
.shopping_popup.shopping_popup2 {
  top: -458px;
}
/* 섹션6 */
.goods {
  width: 100%;
  height: 500px;
  margin: 200px 0;
}
.sect6_innercon {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.goods_img {
  width: 759px;
  height: 100%;
  overflow: hidden;
  background-color: #507bca;
  background-image: url(../img/main/goods.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goods_right_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.goods_right_box h2 {
  line-height: 160%;
  height: 20%;
}

.goods_inner_box {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}
.g_conbox {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.goods_img2 {
  width: 248px;
  height: 248px;
  overflow: hidden;
  flex: 1.8 1 0;
}
.goods_img2 img {
  max-width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.goods_img2:hover img {
  transform: scale(1.08, 1.08);
}
.goods_t {
  width: 100%;
  height: max-content;
  text-align: left;
  line-height: 150%;
  margin-top: 5px;
  flex: 1 1 0;
  position: relative;
}
.goods_t h4 {
  font-size: 14px;
  color: #898989;
}
.goods_t h5 {
  color: #6590df;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}
