@charset "utf-8";

main {
  width: 100%;
  height: 2378px;
  position: relative;
  top: 100px; /*해더 겹쳐져서 해더 크기만큼 아래로 내림*/
}
.banner {
  width: 100%;
  height: 200px;
  background-image: url(./../img/sub_goods/banner2.png);
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 180%;
  color: #fff;
  box-sizing: border-box;
  padding: 46px;
}
.banner .banner_text {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.banner_text h3 {
  font-weight: 600;
}
/* 섹션 컨텐츠 영역 공통지정 */
section {
  width: 1600px;
  margin: 0 auto;
  height: auto;
}
/* 섹션1 메뉴바 */
.menu {
  margin-top: 130px;
  margin-bottom: 80px;
}
.menu ul {
  display: flex;
  column-gap: 40px;
}
.menu li a {
  display: block;
  width: fit-content;
  height: 32px;
  font-size: 20px;
  color: #888;
}
.menu ul li:first-child a {
  color: #000;
  border-bottom: 2px solid #222;
}
/* 섹션2 */
.goods {
  width: 1600px;
  margin: 0 auto;
}
.sect2_text_top {
  width: 100%;
  height: 28px;
  font-size: 16px;
  position: relative;
}
.text_left {
  position: absolute;
  left: 0;
}
.text_left span {
  color: #4877ce;
}
.text_right {
  position: absolute;
  right: 0;
  display: flex;
}
.text_right a {
  display: flex;
}
/* .text_right a:first-child {
  font-weight: 600;
} */
.text_right a:not(:first-child) {
  color: #989898;
}
.menu_bar::after {
  display: block;
  content: "|";
  color: #888;
  margin: 0px 8px;
}
/* 굿즈 컨텐츠 */
.goods_bigcon {
  width: 100%;
  height: auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 53px; */
  justify-content: space-between;
  row-gap: 90px;
}
.goods_con {
  width: fit-content;
}
.goods_img {
  width: 360px;
  height: 300px;
  overflow: hidden; /*효과 확대되는 부분 잘라내기*/
  cursor: pointer;
}
.goods_img img {
  max-width: 100%;
  transition: 0.5s;
}
/* 이미지 호버 효과 */
.goods_img:hover img {
  transform: scale(1.08, 1.08);
}
.goods_inner_text {
  width: 360px;
  background-color: #fff;
  position: relative;
}
.goods_inner_text h4 {
  font-size: 15px;
  color: #777;
  margin-top: 10px;
}
.goods_inner_text h3 {
  font-size: 18px;
  font-weight: 600;
}
.goods_inner_text .price {
  font-size: 16px;
  color: #6590df;
  font-weight: 600;
  margin-top: 10px;
}
.goods_inner_text h5 {
  color: #898989;
  font-size: 14px;
}
.goods_inner_text h5::before {
  display: inline-block;
  content: "별점 아이콘";
  font-size: 0;
  width: 20px;
  height: 19px;
  background: url(./../img/sprites.png) -126px -206px;
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.heart {
  width: 22px;
  height: 20px;
  background: url(./../img/sprites.png) -228px -245px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
}
/* 하단 번호 */
.buttom_num {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: 180px auto;
  margin-bottom: 66px;
}
.left_back_icon {
  width: 7px;
  height: 11px;
  background: url(./../img/sprites.png) -354px -181px;
  cursor: pointer;
}
.right_back_icon {
  width: 7px;
  height: 11px;
  background: url(./../img/sprites.png) -202px -206px;
  cursor: pointer;
}
.num_text {
  display: flex;
}
.buttom_num .num_text a {
  display: block;
  width: 28px;
  text-align: center;
  color: #aaa;
}
.num_text a:first-child {
  color: #000;
}
