@charset "utf-8";

main {
  width: 100%;
  height: auto;
  margin-top: 190px;
}
/* 섹션1 */
.best_sect {
  width: 1600px;
  height: 886px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 100px;
}
.sect1_top_box {
  width: fit-content;
  height: auto;

  margin: 0 auto;
  text-align: center;
}
.sect1_top_box h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 42px;
  box-sizing: border-box;
  padding: 9px 0;
}
.best_sect .search {
  width: 625px;
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}
.search input {
  width: 97%;
  height: 100%;
  outline: none;
  border: none;
  font-family: "S-CoreDream-3Light";
  font-size: 16px;
}
.search_icon button {
  width: 30px;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 20px;
  background-color: transparent;
}
/* 화제의 도서 */
.best_book {
  width: 100%;
  height: 100%;
  margin-top: 126px;
}
/* 팝업창 */
.heart_popup.heart_popup3 {
  top: -685px;
}
.shopping_popup.shopping_popup3 {
  top: -715px;
}
/* h2 공통속성 */
h2 {
  font-size: 26px;
  font-weight: 600;
}
.best_con_wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.best_con {
  width: 270px;
  height: fit-content;
  margin-top: 46px;
  position: relative;
}
.book_img {
  width: 270px;
  height: fit-content;
  cursor: pointer;
}
.book_img > img {
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.best_text {
  width: 270px;
  height: auto;
}
.best_text h3 {
  font-weight: 600;
}
.best_text h4 {
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
}
.best_text p {
  font-size: 16px;
  color: #6590df;
  font-weight: 600;
}
/* 순위표 */
.best_con_wrap .best_con::after {
  display: block;
  content: "1";
  font-size: 22px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 14px 0;
  width: 37px;
  height: 55px;
  background-color: #3a3737;
  position: absolute;
  right: 25px;
  top: -3px;
}
.best_con_wrap .best_con:nth-child(2)::after {
  content: "2";
}
.best_con_wrap .best_con:nth-child(3)::after {
  content: "3";
}
.best_con_wrap .best_con:nth-child(4)::after {
  content: "4";
}
.best_con_wrap .best_con:nth-child(5)::after {
  content: "5";
}
/* 호버시 나오는 이미지  */
.hide_img {
  width: 270px;
  height: 431px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  /* 이미지 숨겨놓음 */
  opacity: 0;
}
.hide_img p {
  width: fit-content;
  height: fit-content;
  margin: 30px;
}
.hide_img .hover_icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 78px;
}
.hover_icons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* 호버하면 숨겨진 줄거리 나오기 */
.best_con:hover .hide_img {
  opacity: 1;
}
/* 섹션2 */
.five_book {
  width: 100%;
  height: 705px;
  margin-top: 154px;
  background-image: url(./../img/sub_book/sect2_background.png);
}
.five_inner {
  width: 1600px;
  height: 100%;

  margin: 0 auto;
}
.five_book_wrap {
  width: 100%;
  height: 100%;
  margin-top: 45px;
  display: flex;
  gap: 281px;
}
.five_book_con {
  width: fit-content;
  height: fit-content;
  position: relative;
  transition: transform 0.4s;
}
.five_book_con:hover {
  transform: translateY(-10px);
}
.five_book_img {
  width: 321px;
  height: fit-content;
  cursor: pointer;
}
.five_book_img img {
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.five_book_txt {
  width: 358px;
  height: 183px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 22px;
  box-sizing: border-box;
  position: absolute;
  bottom: -31px;
  left: 38px;
}
.five_book_txt h3 {
  font-weight: 600;
  margin-bottom: 8px;
}
.five_book_txt p {
  font-size: 15px;
  line-height: 1.7;
}
/* 섹션3 - 광고 */
.banner_sect {
  width: 1600px;
  height: 400px;
  /* background-color: beige; */
  margin: 0 auto;
  padding: 115px 0;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 170px;
  background-image: url(./../img/sub_book/banner.png);
  background-repeat: no-repeat;
  color: #fff;
  padding: 52px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}
.banner h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.banner_txt {
  margin-left: 20px;
}
.banner_txt::after {
  content: "AD";
  display: block;
  font-size: 15px;
  width: 41px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
}
/* 섹션4 */
.books {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  height: 2228px;
}
.menu {
  margin-bottom: 80px;
}
.menu ul {
  display: flex;
  column-gap: 40px;
}
.menu li a {
  display: block;
  width: fit-content;
  height: 32px;
  font-size: 20px;
  color: #888;
}
.menu ul li:first-child a {
  color: #000;
  border-bottom: 2px solid #222;
}
.sect4_text_top {
  width: 100%;
  height: 28px;
  font-size: 16px;
  position: relative;
  margin-bottom: 42px;
}
.text_left {
  position: absolute;
  left: 0;
}
.text_left span {
  color: #4877ce;
}
.text_right {
  position: absolute;
  right: 0;
  display: flex;
}
.text_right a {
  display: flex;
}

.text_right a:not(:first-child) {
  color: #989898;
}
.menu_bar::after {
  display: block;
  content: "|";
  color: #888;
  margin: 0px 8px;
}
/* 책 컨텐츠들 */
.books_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}
.best_con.book_con {
  margin-top: 0;
}
/* 하단 번호 */
.buttom_num {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin: 100px auto;
  margin-bottom: 66px;
}
.left_back_icon {
  width: 7px;
  height: 11px;
  background: url(./../img/sprites.png) -354px -181px;
  cursor: pointer;
}
.right_back_icon {
  width: 7px;
  height: 11px;
  background: url(./../img/sprites.png) -202px -206px;
  cursor: pointer;
}
.num_text {
  display: flex;
}
.buttom_num .num_text a {
  display: block;
  width: 28px;
  text-align: center;
  color: #aaa;
}
.num_text a:first-child {
  color: #000;
}
.buttom_num .num_text a:hover {
  color: #000;
}
/* 팝업창4 따로 위치 지정  */
.heart_popup.heart_popup4 {
  top: -1912px;
}
.shopping_popup.shopping_popup4 {
  top: -1950px;
}
/* 섹션 5*/
.banner2 {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #fff;
  letter-spacing: 0.4px;
  font-size: 22px;
  font-weight: 600;
  background-color: #8da8dc;
}
