@charset "utf-8";
/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  /* 섹션2*/
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text_box2 {
    left: 93%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 5%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift_text {
    width: 37%;
  }
  .gift_con_wrap {
    width: 63%;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    width: 45vw;
  }
  .goods_right_box {
    width: 45vw;
  }
  .goods_inner_box {
    gap: 2%;
  }
  .goods_img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .goods_img2 img {
    max-width: 100%;
    scale: 1.2;
  }
  /* 푸터 */
  .footer_con {
    width: 92%;
  }
  .footer_t1 {
    width: 60%;
  }
}
/* 노트북  medium */
@media screen and (min-width: 1358px) and (max-width: 1439px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 29vw;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 50px;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 79%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 5%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift_text {
    width: 35%;
  }
  .gift_inner_text_bottom {
    font-size: 1.32vw;
  }
  .gift_con_wrap {
    width: 65%;
  }
  .gift_img_t {
    width: 169px;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    width: 45vw;
  }
  .goods_right_box {
    width: 45vw;
  }
  .goods_inner_box {
    gap: 2%;
  }
  .goods_img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .goods_img2 img {
    max-width: 100%;
    scale: 1.22;
  }

  /* 푸터 */
  .footer_con {
    width: 92%;
  }
  .footer_t1 {
    width: 59%;
  }
}
/* 노트북  medium2 */
@media screen and (min-width: 1248px) and (max-width: 1357px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 29vw;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 50px;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 79%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 4%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift_text {
    width: 33%;
  }
  .gift_inner_text_bottom {
    font-size: 1.32vw;
  }
  .gift_con_wrap {
    width: 67%;
  }
  .gift_img_t {
    width: 169px;
    margin-left: 9px;
  }

  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    width: 45.5vw;
    background-position-x: 53%;
  }
  .goods_right_box {
    width: 45vw;
  }
  .goods_inner_box {
    gap: 2%;
  }
  .goods_img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .goods_img2 img {
    max-width: 100%;
    scale: 1.19;
  }
  .goods_t {
    margin-top: 0;
  }

  /* 푸터 */
  .footer_con {
    width: 92%;
  }
  .footer_t1 {
    width: 53%;
  }
  .footer_t2,
  .footer_t3 {
    width: 16%;
  }
}
/* 노트북  medium3 */
@media screen and (min-width: 1025px) and (max-width: 1247px) {
  .header_wrap {
    width: 94%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 33vw;
  }
  .main_visual_text p {
    margin-top: 20px;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1,
  .book2,
  .book3 {
    height: 475px;
  }
  .book1 {
    left: -14.3%;
  }
  .book_text_box1 {
    left: 19%;
    height: fit-content;
  }

  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 25px;
    height: auto;
    margin-top: 1.2%;
  }
  .btn1 {
    margin-left: 70px;
  }
  .book_text h2 {
    font-size: 2.8vh;
  }
  .book_text h3 {
    font-size: 2.4vh;
    margin-top: 100px;
  }
  .book_text h4 {
    margin-top: 100px;
  }
  .book_text p {
    font-size: 1.5vw;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 77%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 4%;
  }
  .new_book_txt {
    font-size: 2.8vh;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
    background-color: brown;
  }

  .gift_text {
    width: 36%;
    background-color: lightblue;
  }
  .gift_inner_text_bottom {
    font-size: 1.32vw;
  }
  .gift_con_wrap {
    width: 64%;
    background-color: pink;
  }
  .gift_img_t {
    width: 169px;
    margin-left: 9px;
  }

  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    width: 45.5vw;
    background-position-x: 53%;
  }
  .goods_right_box {
    width: 45vw;
  }
  .goods_inner_box {
    gap: 2%;
  }
  .goods_img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .goods_img2 img {
    max-width: 100%;
    scale: 1.19;
  }
  .goods_t {
    margin-top: 0;
  }

  /* 푸터 */
  .footer_con {
    width: 94%;
  }
  .footer_t1 {
    width: 49%;
  }
  .footer_t2,
  .footer_t3 {
    width: 16%;
  }
}
