@charset "utf-8";
/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  /* 섹션2*/
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text_box2 {
    left: 93%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 5%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift_text h2 {
    font-size: 2.9vh;
  }
  .gift_text p {
    font-size: 1.9vh;
    margin-top: 40px;
    line-height: 1.7;
  }
  .book9,
  .book10 {
    width: fit-content;
    height: 320px;
  }
  .gift_img_t {
    margin-left: 20px;
  }
  .gift_img_t h3 {
    font-size: 2.3vh;
  }
  .gift_img_t h4,
  .gift_img_t span {
    font-size: 1.7vh;
    margin-bottom: 20px;
  }
  .gift_img_t p {
    font-size: 1.7vh;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    /* height: 450px; */
    height: 45vh;
    margin-right: 2%;
  }
  .goods_right_box h2 {
    font-size: 2.9vh;
    margin-bottom: 20px;
  }
  .goods_inner_box {
    width: 100%;
  }
  .goods_img2 {
    width: 210px;
    height: 210px;
  }
  .goods_t h5 {
    margin-top: 26px;
    font-size: 1.1vw;
  }
  .goods_t h3 {
    font-size: 1.15vw;
  }
  .goods_t h4 {
    font-size: 0.827vw;
  }
  /* 푸터 */
  .footer_con {
    width: 92%;
  }
}
/* 노트북  medium */
@media screen and (min-width: 1358px) and (max-width: 1439px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 29vw;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 50px;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 79%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 5%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift {
    margin-bottom: 16px;
  }
  .gift_text h2 {
    font-size: 2.64vh;
  }
  .gift_text p {
    font-size: 1.8vh;
    margin-top: 40px;
    line-height: 1.7;
  }
  .book9,
  .book10 {
    width: fit-content;
    height: 300px;
  }
  .gift_img_t {
    margin-left: 16px;
  }
  .gift_img_t h3 {
    font-size: 2vh;
    margin-bottom: 12px;
  }
  .gift_img_t h4,
  .gift_img_t span {
    font-size: 1.7vh;
    margin-bottom: 12px;
  }
  .gift_img_t p {
    font-size: 1.7vh;
  }
  .gift_img_t h5 {
    font-size: 1.8vh;
    margin-top: 74px;
  }
  .sect5_icon {
    margin-top: 8px;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    height: 42vh;
    margin-right: 1.3%;
  }
  .goods_right_box h2 {
    font-size: 2.9vh;
    margin-bottom: 20px;
  }
  .goods_inner_box {
    width: 100%;
  }
  .goods_img2 {
    width: 200px;
    height: 200px;
  }
  .goods_t h5 {
    margin-top: 11px;
    font-size: 1.1vw;
  }
  .goods_t h3 {
    font-size: 1.15vw;
  }
  .goods_t h4 {
    font-size: 0.92vw;
  }

  /* 푸터 */
  .footer_con {
    width: 92%;
  }
}
/* 노트북  medium2 */
@media screen and (min-width: 1265px) and (max-width: 1357px) {
  .header_wrap {
    width: 92%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 29vw;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1 {
    left: -10%;
  }
  .book_text_box1 {
    left: 20%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 50px;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 79%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 4%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .sect5_innercon {
    width: 92%;
  }
  .gift {
    margin-bottom: 9px;
  }
  .gift_text h2 {
    font-size: 2.5vh;
  }
  .gift_text p {
    font-size: 1.6vh;
    margin-top: 40px;
    line-height: 1.7;
  }
  .book9,
  .book10 {
    width: fit-content;
    height: 273px;
  }
  .gift_img_t {
    margin-left: 10px;
  }
  .gift_img_t h3 {
    font-size: 2vh;
    margin-bottom: 12px;
  }
  .gift_img_t h4,
  .gift_img_t span {
    font-size: 1.6vh;
    margin-bottom: 12px;
  }
  .gift_img_t p {
    font-size: 1.6vh;
  }
  .gift_img_t h5 {
    font-size: 1.8vh;
    margin-top: 54px;
  }
  .sect5_icon {
    margin-top: 8px;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 92%;
  }
  .goods_img {
    height: 40vh;
    margin-right: 1.25%;
  }
  .goods_right_box h2 {
    font-size: 2.9vh;
    margin-bottom: 20px;
  }
  .goods_inner_box {
    width: 100%;
  }
  .goods_img2 {
    width: 184px;
    height: 184px;
  }
  .goods_t h5 {
    margin-top: 13px;
    font-size: 1.1vw;
  }
  .goods_t h3 {
    font-size: 1.15vw;
  }
  .goods_t h4 {
    font-size: 0.92vw;
    margin-top: -3px;
  }

  /* 푸터 */
  .footer_con {
    width: 92%;
  }
  .footer_t1 {
    width: 49%;
  }
  .footer_t2,
  .footer_t3 {
    width: 16%;
  }
}
/* 노트북  medium3 */
@media screen and (min-width: 1025px) and (max-width: 1264px) {
  .header_wrap {
    width: 94%;
  }
  .main_visual {
    background-position: center;
  }
  .main_visual_text {
    left: 6%;
  }
  .main_visual_text p {
    font-size: 1.75vw;
  }
  .main_visual_text img {
    width: 33vw;
  }
  .main_visual_text p {
    margin-top: 20px;
  }
  /* 섹션2 */
  .sect2_innercon {
    left: 6%;
  }
  .book1,
  .book2,
  .book3 {
    height: 463px;
  }
  .book1 {
    left: -13%;
  }
  .book_text_box1 {
    left: 19%;
  }
  .sect2_icon {
    left: 81%;
  }
  .book_text {
    margin-left: 25px;
  }
  .btn1 {
    margin-left: 70px;
  }
  .book_text h2 {
    font-size: 2.8vh;
  }
  .book_text h3 {
    font-size: 2.4vh;
    margin-top: 100px;
  }
  .book_text h4 {
    margin-top: 100px;
  }
  .book_text p {
    font-size: 1.5vw;
  }
  .book_text_box2 {
    left: 93%;
  }
  .sect2_icon {
    left: 77%;
  }
  .book_text_box2 {
    left: 92%;
  }
  /* 섹션3 */
  .sect3_innercon {
    column-gap: 4%;
  }
  /* 섹션4 */
  .sect4 {
    background-position: center;
  }
  /* 섹션5 */
  .gift_book {
    height: 685px;
    padding: 200px 0;
  }
  /* h2감싸주는 div */
  .gift_inner_text {
    width: 213px;
  }
  .sect5_innercon {
    width: 94%;
  }
  .gift {
    margin-bottom: 9px;
  }
  .gift_con {
    width: 36%;
  }
  .gift_text h2 {
    font-size: 2.5vh;
    line-height: 1.5;
  }
  .gift_text p {
    display: none;
  }
  .book9,
  .book10 {
    width: fit-content;
    height: 275px;
  }
  .gift_img_t {
    margin-left: 2.5%;
    width: 216px;
  }
  .gift_img_t h3 {
    font-size: 2.05vh;
    margin-bottom: 14px;
  }
  .gift_img_t h4 {
    font-size: 1.6vh;
    margin-bottom: 0px;
  }
  .gift_img_t span {
    display: none;
  }
  .gift_img_t p {
    font-size: 1.6vh;
  }
  .gift_img_t h5 {
    font-size: 1.8vh;
    margin-top: 49%;
  }
  .sect5_icon {
    margin-top: 8px;
  }
  /* 섹션6 */
  .sect6_innercon {
    width: 94%;
    justify-content: flex-start;
  }
  .goods_img {
    height: 30vh;
    margin-right: 1.25%;
  }
  .goods_right_box {
    width: 53%;
  }

  .goods_right_box h2 {
    font-size: 2.7vh;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .goods_inner_box {
    width: 100%;
  }
  .goods_img2 {
    width: 162px;
    height: 162px;
  }
  .goods_t h5 {
    margin-top: 4px;
    font-size: 1.1vw;
  }
  .goods_t h3 {
    font-size: 1.35vw;
  }
  .goods_t h4 {
    display: none;
  }

  /* 푸터 */
  .footer_con {
    width: 94%;
  }
  .footer_t1 {
    width: 49%;
  }
  .footer_t2,
  .footer_t3 {
    width: 16%;
  }
}
